<!--O mat-dialog seria só pra escolher o desafiante?
        Quando escrever o nome do pokemon, é preciso aparecer
    o card como na busca pokemon. Logo depois ativar botão de batalhar.
    O botão batalhar leva para página de batalha. -->
<h2 mat-dialog-title>Batalha de Pokemons</h2>
<mat-dialog-content class="mat-typography desafiante">

    <form class="search">
        <input type="text" class="busca" #input (keyup)="search(input.value)" placeholder="Escolha seu Pokemon Desafiante">
        <img class="lupa" src="assets/icons/Vector.svg" alt="Buscar Pokemon">
    </form>
    <div>
      <section class="listagem">
        <ng-template ngFor let-pokemon [ngForOf] = "getAllPokemons"  >
            <a [routerLink]="['details',pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
                <section class="pokemon__status">
                    <h2>
                        {{ pokemon.name }}
                    </h2>

                    <ul>
                        <li *ngFor="let value of pokemon.status.types">
                            {{ value.type.name }}
                        </li>
                    </ul>
                </section>

                <section class="pokemon__image">
                    <img
                        [src]="pokemon.status.sprites.other.dream_world.front_default"
                        alt="pokemon.name"
                    >

                </section>
            </a>
        </ng-template>
    </section>
    </div>
    </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="warn">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="batalhar">Batalhar</button>
</mat-dialog-actions>

