@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/animation.scss';

:host{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem-calc(60) 0;
    }
}