@import '../../../config-scss/rem-calc.scss';

.botaoBatalha {
    padding-top: rem-calc(20);
    width: 100%;
    background: none;
    border: none;
    font-weight: 400;

    font-size: rem-calc(18); //

    color: var(--branco);

    &::button {
        color: var(--branco);
    }
}