@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/btn.scss';
@import './config-scss/animation.scss';
@import '@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$primary-color-pokebella: (
    50 : #e8edfb,
    100 : #c6d2f6,
    200 : #a0b4f0,
    300 : #7a96ea,
    400 : #5e80e6,
    500 : #4169e1,
    600 : #3b61dd,
    700 : #3256d9,
    800 : #2a4cd5,
    900 : #1c3bcd,
    A100 : #ffffff,
    A200 : #cfd6ff,
    A400 : #9cabff,
    A700 : #8395ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
/* For use in src/lib/core/theming/_palette.scss */
$secondary-color-pokebella: (
    50 : #ffe3f2,
    100 : #ffb9df,
    200 : #ff8ac9,
    300 : #ff5bb3,
    400 : #ff37a3,
    500 : #ff1493,
    600 : #ff128b,
    700 : #ff0e80,
    800 : #ff0b76,
    900 : #ff0664,
    A100 : #ffffff,
    A200 : #fff3f7,
    A400 : #ffc0d5,
    A700 : #ffa7c4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$warn-pokebella: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #fe4d4d,
    400 : #fe2626,
    500 : #fe0000,
    600 : #fe0000,
    700 : #fe0000,
    800 : #fe0000,
    900 : #fd0000,
    A100 : #ffffff,
    A200 : #fff1f1,
    A400 : #ffbebe,
    A700 : #ffa4a4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$custom-app-primary: mat-palette($primary-color-pokebella);
$custom-app-secondary: mat-palette($secondary-color-pokebella);
$custom-app-warn: mat-palette($warn-pokebella);

//Criando a paleta de cores
$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

//Diz ao angular pra usar a paleta criada

@include angular-material-theme($custom-theme);

html{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main{
    max-width: rem-calc(900);
    margin: 0 auto;
    box-sizing: border-box;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
